.ELVIZ_chart-title {
  font-weight: bold;
  text-align: center;
}

.ELVIZ_tooltip {	
  position: absolute;			
  text-align: center;				
  display: inline-block;		
  padding: 4px;				
  font: 12px sans-serif;		
  background: white;	
  display: inline-block;
  border: 0px;		
  border-radius: 3px;			
  pointer-events: none;			
}

.votepredictionlinechart .line-container .graph-points {
}

.votepredictionlinechart .axes .axis-text {
  font-size: 8px;
}

.votepredictionlinechart .line-container .graph-labels {
  font-size: 8px;
  fill: white;
  stroke: none;
}

.votepredictionlinechart .line-container .line {
  fill: none;
  stroke: white;
}

.votepredictionlinechart.ELVIZ_stylesheet-tv {
  background: #1a1917;
  color: white;
  overflow: hidden;
}

.votepredictionlinechart.ELVIZ_stylesheet-tv svg {
  color: white;
}

.votepredictionlinechart.ELVIZ_stylesheet-tv text {
  fill: white;
  color: white;
}

