.ELVIZ_menu-widget .metismenu {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow: hidden;
  position: relative
}

.ELVIZ_menu-widget .metismenu>.metismenu-container>.metismenu-item>.metismenu-link {
  line-height: 2.5em
}

.ELVIZ_menu-widget  .metismenu>.metismenu-container>.metismenu-item>.metismenu-link .metismenu-state-icon {
  line-height: 2.5em
}

.ELVIZ_menu-widget  .metismenu::after {
  content: " ";
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0
}

.ELVIZ_menu-widget  .metismenu-container,
.ELVIZ_menu-widget  .metismenu-item {
  margin: 0;
  padding: 0
}

.ELVIZ_menu-widget  .metismenu-container {
  list-style: none
}

.ELVIZ_menu-widget  .metismenu-container .metismenu-container .metismenu-item>.metismenu-link {
  height: 0;
  overflow: hidden
}

.ELVIZ_menu-widget  .metismenu-container .metismenu-container .metismenu-link {
  padding-left: 1em
}

.ELVIZ_menu-widget  .metismenu-container .metismenu-container .metismenu-container .metismenu-link {
  padding-left: 2em
}

.ELVIZ_menu-widget  .metismenu-container.visible {
  padding: .5em 0
}

.ELVIZ_menu-widget  .metismenu-container.visible>.metismenu-item>.metismenu-link {
  height: 2.5em
}

.ELVIZ_menu-widget  .metismenu-link {
  transition: height .3s, color .3s, background-color .3s;
  -webkit-transition: height .3s, color .3s, background-color .3s;
  display: block;
  line-height: 2.5em;
  text-decoration: none;
  cursor: pointer;
}

.ELVIZ_menu-widget  .metismenu-link:hover {
  color: #f53;
  text-decoration: none !important;
}

.ELVIZ_menu-widget  .metismenu-link.active {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  background: #f53;
  color: #000;
}

.ELVIZ_menu-widget  .metismenu-link.has-active-child {
  color: #f53
}

.ELVIZ_menu-widget  I.metismenu-icon {
  text-align: center;
  width: 3em
}

.ELVIZ_menu-widget  I.metismenu-state-icon {
  transition: transform .3s;
  -webkit-transition: transform .3s;
  float: right;
  line-height: 2.5em;
  text-align: center;
  width: 3em
}

.ELVIZ_menu-widget  I.metismenu-state-icon.rotate-minus-90 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg)
}