text {
    user-select: none;
}
.map-title {
    font-weight: bold;
    text-align: center;
}

.loading-spinner {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

.tooltip {	
    position: absolute;			
    text-align: center;				
    display: inline-block;		
    padding: 4px;				
    font: 12px sans-serif;		
    background: white;	
    display: inline-block;
    border: 0px;		
    border-radius: 3px;			
    pointer-events: none;			
  }

  .stylesheet-tv .legend {
    fill: white;
  }