.ELVIZ_chart-title {
    font-weight: bold;
    text-align: center;
}

.ELVIZ_stylesheet-tv {
  background: rgb(0, 53, 97);
  color: white;
  overflow: hidden;
}

.ELVIZ_stylesheet-tv svg {
  color: white;
}
.ELVIZ_stylesheet-tv text {
  fill: white;
  color: white;
}