.ELVIZ_chart-title {
    font-weight: bold;
    text-align: center;
}

.piechart.ELVIZ_stylesheet-tv {
  background: #1a1917;
  color: white;
  overflow: hidden;
}

.piechart.ELVIZ_stylesheet-tv svg {
  color: white;
}
.piechart.ELVIZ_stylesheet-tv text {
  fill: white;
  color: white;
}