.ELVIZ_tooltip {	
    position: absolute;			
    text-align: center;				
    display: inline-block;		
    padding: 4px;				
    font: 12px sans-serif;		
    background: white;	
    display: inline-block;
    border: 0px;		
    border-radius: 3px;			
    pointer-events: none;			
}
.ELVIZ_component-transition-menu {
  padding: 15px;
}
.ELVIZ_component-transition-menu .label {
  font-size: 12px;
  line-height: 45px;
}

.ELVIZ_component-transition-menu button {
  font-size: 14px;
  height: 45px;
  border-radius: 4px;
  width: 100%;
  outline: none;
  color: black;
}

.ELVIZ_component-transition-menu button.active {
  border: solid green 1px;
}

.quickresultswidget.ELVIZ_stylesheet-tv {
  background: #1a1917;
  color: white;
  overflow: hidden;
}

.quick-results-title {
  background: #255781;
  color: white;
  text-align: center;
  line-height: 40px;
}

.race-for-seats {

}

.quick-results-title.race-for-seats {
  background: #D25E22;
}

.ELVIZ_row {
  margin-right: -15px;
  margin-left: -15px;
}

.ELVIZ_row::before {
  display: table;
  content: " ";
}

.ELVIZ_row::after {    
  clear: both;
  display: table;
  content: " ";
}

@media (min-width: 992px) {
  .ELVIZ_col-md-2 {
    width: 14%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .ELVIZ_col-md-4 {
    width: 32%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .ELVIZ_col-md-8 {
    width: 62%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.ELVIZ_current-progress {
  background: rgb(0, 32, 86);
  width: 100%;
  display: inline-block;
  color: white;
  text-align: center;
}

.ELVIZ_current-progress .ELVIZ_current-turnout {
  width: 25%;
  float: left;
}

.ELVIZ_current-progress .ELVIZ_current-counting-progress {
  width: 50%;
  float: left;
}

.ELVIZ_current-progress .ELVIZ_current-spoilt-votes {
  width: 25%;
  float: right;
}
.ELVIZ_leadingmap-title-container {
  padding-top: 10px;
  display: inline-block;
}
.ELVIZ_leading-parties {
  font-size: 20px;
  font-weight: bold;
  float: left;
  width: 300px;
}

.ELVIZ_helper-text {
  font-size: 14px;
  line-height: 30px;
  float: right;
  width: 400px;
}