.tooltip {	
    position: absolute;			
    text-align: center;				
    display: inline-block;		
    padding: 4px;				
    font: 12px sans-serif;		
    background: white;	
    display: inline-block;
    border: 0px;		
    border-radius: 3px;			
    pointer-events: none;			
  }
.submenu {
  padding: 15px;
}
.label {
  font-size: 12px;
  line-height: 45px;
}
button {
  font-size: 14px;
  height: 45px;
  border-radius: 4px;
  width: 100%;
  outline: none;
  color: black;
}

.active {
  border: solid green 1px;
}

.stylesheet-tv {
  background: rgb(0, 53, 97);
  color: white;
  overflow: hidden;
}
.stylesheet-tv .main-left-part {
}
.stylesheet-tv .main-right-part {
}

.stylesheet-tv .barchart-container svg {
  color: white;
}
.stylesheet-tv .barchart-container text {
  fill: white;
  color: white;
}


