.ELVIZ_tooltip {	
    position: absolute;			
    text-align: center;				
    display: inline-block;		
    padding: 4px;				
    font: 12px sans-serif;		
    background: white;	
    display: inline-block;
    border: 0px;		
    border-radius: 3px;			
    pointer-events: none;			
}
.ELVIZ_component-transition-menu {
  padding: 15px;
}
.ELVIZ_component-transition-menu .label {
  font-size: 12px;
  line-height: 45px;
}

.ELVIZ_component-transition-menu button {
  font-size: 14px;
  height: 45px;
  border-radius: 4px;
  width: 100%;
  outline: none;
  color: black;
}

.ELVIZ_component-transition-menu button.active {
  border: solid green 1px;
}

.ELVIZ_stylesheet-tv {
  background: rgb(0, 53, 97);
  color: white;
  overflow: hidden;
}
.ELVIZ_stylesheet-tv .main-left-part {
}
.ELVIZ_stylesheet-tv .main-right-part {
}

.ELVIZ_stylesheet-tv .barchart-container svg {
  color: white;
}
.ELVIZ_stylesheet-tv .barchart-container text {
  fill: white;
  color: white;
}


.ELVIZ_row {
  margin-right: -15px;
  margin-left: -15px;
}

.ELVIZ_row::before {
  display: table;
  content: " ";
}

.ELVIZ_row::after {    
  clear: both;
  display: table;
  content: " ";
}

@media (min-width: 992px) {
  .ELVIZ_col-md-2 {
    width: 14%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .ELVIZ_col-md-4 {
    width: 32%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .ELVIZ_col-md-8 {
    width: 62%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}