.ELVIZ_chart-title {
  font-weight: bold;
  text-align: center;
}

.ELVIZ_percentage-label {
  font-style: italic;
}

.ELVIZ_tooltip {	
  position: absolute;			
  text-align: center;				
  display: inline-block;		
  padding: 4px;				
  font: 12px sans-serif;		
  background: white;	
  display: inline-block;
  border: 0px;		
  border-radius: 3px;			
  pointer-events: none;			
}

.ELVIZ_grouprect {	
  fill: #DEDEDE;
}

.barchart.ELVIZ_stylesheet-tv {
  background: #1a1917;
  color: white;
  overflow: hidden;
}

.barchart.ELVIZ_stylesheet-tv .ELVIZ_grouprect{
  fill: rgb(21, 73, 117);
}

.barchart.ELVIZ_stylesheet-tv svg {
  color: white;
}
.barchart.ELVIZ_stylesheet-tv text {
  fill: white;
  color: white;
}
