.ELVIZ_menu-widget {
    max-height: 80vh;
    overflow-y: scroll;
}

.ELVIZ_menu-widget::-webkit-scrollbar-track
{
	background-color: transparent;
}

.ELVIZ_menu-widget::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
}

.ELVIZ_menu-widget::-webkit-scrollbar-thumb
{
	background-color: #000000;
}