text {
    user-select: none;
}
.ELVIZ_map-title {
    font-weight: bold;
    text-align: center;
}

.ELVIZ_loading-spinner {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

.ELVIZ_tooltip {	
    position: absolute;			
    text-align: center;				
    display: inline-block;		
    padding: 4px;				
    font: 12px sans-serif;		
    background: white;	
    display: inline-block;
    border: 0px;		
    border-radius: 3px;			
    pointer-events: none;			
}

.map-widget.ELVIZ_stylesheet-tv {
  background: #1a1917;
  color: white;
  overflow: hidden;
}

.map-widget.ELVIZ_stylesheet-tv a{
  color: white;
}
.map-widget.ELVIZ_stylesheet-tv a:hover{
  color: white;
}

.map-widget.ELVIZ_stylesheet-tv .legend {
    fill: white;
}

.map-widget.ELVIZ_stylesheet-tv .legend text{
    fill: white;
}

.map-widget.ELVIZ_stylesheet-web a{
  color: black;
}

.map-widget.ELVIZ_stylesheet-none a{
  color: black;
}

.map-widget.ELVIZ_stylesheet-web a:hover{
  color: purple;
}

.map-widget.ELVIZ_stylesheet-none a:hover{
  color: purple;
}

.map-controls {
  font-size: 20px;
}