  .leftContainer {
    position: absolute;
    width: calc(100% - 350px);
    max-width: 750px;
    left: 20px;
  }
  
  @media only screen and (min-width: 1400px) {
    .rightContainer {
      width: 550px;
      position: absolute;
      left: 850px;
    }
    .barchartEmbed {
      width: 250px;
      float: left;
      margin: 10px;
    }
    .mapEmbed {
      width: 250px;
      float: left;
      margin: 10px;
    }
  }
  
  
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .rightContainer {
      width: 250px;
      position: absolute;
      left: 850px;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .rightContainer {
      width: 250px;
      position: absolute;
      right: 50px;
    }
  }
  
  @media only screen and (max-width: 775px) {
    .leftContainer {
      width: 100%;
      position: relative;
    }
    .rightContainer {
      width: 100%;
      max-width: 400px;
      position: relative;
      margin: 0 auto;
      right: 0;
    }
  }
  
  .barchart {
    display: inline-block;
  }
  .barchartEmbed {
    display: flex;
  }
  
  .mapEmbed {
  }